<style>
  .cardContainer {
    width: 22rem;
    height: 13rem;
    border: 0.1rem solid rgba(134, 182, 255, 1);
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(207, 226, 255, 0.2);
  }

  .topContainers {
    display: flex;
    gap: 11rem;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.1rem;

  }

  .midContainer {
    padding: 0.5rem 0rem;
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .dateContainer p {
    display: inline-flex;
    margin-left: 1rem;

  }
</style>
<div class="cardContainer">
  <div class="topContainers">
    <div class="subjectContainer">English</div>
    <div class="teacherContainer">by Srijan</div>
  </div>
  <div class="midContainer">
    <div class="titleContainer">Red Red Rose</div>
  </div>
  <div class="bottomContainer">
    <div class="dateContainer">
      <p id="dateText">Assigned on : </p>
      <p id="assignedate">2081/5/6</p>
    </div>
  </div>
</div>