<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .headers {
    display: flex;
    justify-content: space-between;
    /* it's not working */
  }

  .text {
    display: inline-flex;
    background-color: rgba(0, 122, 255, 0.15);
    height: 4rem;
    width: 11rem;
    align-items: center;
    justify-content: center;

  }

  .text p {
    display: inline;
    font-size: 2rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    height: 4rem;
    width: 12rem;
    border: 0.2rem solid rgba(134, 182, 255, 0.9373);
    background-color: rgba(207, 226, 255, 0.9373);
  }

  img {
    height: 2rem;
  }


  option {
    font-size: 1.5rem;
  }

  .filterby {
    display: flex;
  }

  .hidden {
    display: none;
  }

  select {
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 0.1rem solid #cfe2ff;
    border-radius: 5px;
    background-color: #f2f6ff;
    transition: 0.3s ease;
  }

  .selectClass select:hover {
    border-color: #007bff;
  }
</style>




<div class="mainContainer">
  <div class="headers">
    <div class="filterby">
      <div class="text">
        <p>Filter By : </p>
      </div>
      <!--Date  -->
      <select name="" id="notesDate">
        <option value="null" selected>Date</option>
        <option value="Today">Today</option>
        <option value="Yesterday">Yesterday</option>
        <option value="thisWeek">This Week</option>
        <option value="thisMonth">This Month</option>
      </select>
      <!-- Subject -->
      <select name="" id="notesSubject">
        <option value="all" selected>Subject</option>
        <option value="Computer">Computer</option>
        <option value="Nepali">Nepali</option>
        <option value="English">English</option>
        <option value="Economics">Economics</option>
        <option value="Accounts">Accounts</option>
        <option value="Social">Social/Samajik</option>
        <option value="Maths">Maths</option>
        <option value="optMaths">opt.Maths</option>
        <option value="Science">Science</option>
      </select>
      <!-- Class /// only visible to teachers -->
      <select name="classSelector" class='hidden' id="classSelector">
        <option value="null" selected>Select Class</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11-CS">11-CS</option>
        <option value="11-HM">11-HM</option>
        <option value="11-BS">11-BS</option>
        <option value="12-CS">12-CS</option>
        <option value="12-HM">12-HM</option>
        <option value="12-BS">12-BS</option>
      </select>

    </div>
    <div class="addNoteDiv">
      <Button class="hidden" id="addNotes"><img src="../../../public/assets/icons/plus.svg" alt="Plus-Icon">Add
        Notes</Button>
    </div>
  </div>
  <div class="classNotesContainer">

  </div>
</div>