<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }

  .firstCol {
    display: flex;
    justify-content: space-evenly;
  }

  .padding {
    padding: 0rem 1rem;
  }

  .userSummaryContainer {
    padding: 1rem;
  }

  .upComingEventsContainer {
    padding: 1rem;
  }

  .secondCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .main-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-content: center;
      justify-content: center;
    }

    .firstCol {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .padding {
      padding: 0rem 1rem;
    }

    .userSummaryContainer {
      padding: 1rem;
    }

    .upComingEventsContainer {
      padding: 1rem;
    }

    .secondCol {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>

<div class="main-container padding">
  <div class="firstCol">
    <div class="userSummaryContainer padding"></div>
    <div class="upComingEventsContainer padding"></div>
  </div>
  <div class="secondCol">
    <div class="timetableContainer">
    </div>
  </div>


</div>
</div>