<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* font-size: 62.5%; */
  }

  :host {
    display: block;
    width: 100%;
    height: 100vh;
  }

  .homepage-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, #cbd5f1, #b7b2eb);
    gap: 1rem;
  }

  #sidebar {
    width: 20rem;
    height: 100%;
  }

  .content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: #ffffff;
  }

  .top {
    height: 10rem;
    width: 100%;
    font-size: 1.7rem;
  }

  #main-content-container {
    flex: 1;
    overflow-y: scroll;
  }

  .gobackButtonContainer {
    display: inline-flex;
  }

  @media (max-width: 768px) {
    #sidebar {
      position: absolute;
    }
    .content-area {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
    }
    .homepage-wrapper {
      padding: 0;
    }
  }

  .top-containers {
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
  }

  .backButtonContainer {
    margin-left: 0.3rem;
  }

  #navHeader {
    font-size: 3rem;
    padding-top: 2.7rem;
  }
</style>

<div class="homepage-wrapper">
  <!-- Sidebar outside content area -->
  <div id="sidebar" class="sidebar">
    <!-- Placeholder for sidebar -->
  </div>

  <!-- Content Area -->
  <section class="content-area">
    <!-- Top Navbar -->

    <section id="top-navbar" class="top">
      <!-- Placeholder for topNavbar -->
      <div class="top-containers">
        <section id="backButtonContainer"></section>
        <h1 id="navHeader">Dashboard</h1>
      </div>
    </section>

    <section id="main-content-container"></section>
  </section>
</div>
