<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* font-size: 62.5%; */
  }

  :host {
    display: block;
    width: 100%;
    height: 100vh;
  }

  .homepage-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  #sidebar {
    width: 20rem;
    height: 100%;
  }

  .content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .top {
    height: 10rem;
    width: 100%;
    font-size: 1.7rem;
  }

  #main-content-container {
    flex: 1;
    overflow-y: scroll;
  }

  .gobackButtonContainer {
    display: inline-flex;
  }


  @media (max-width: 768px) {
  #sidebar {
position: absolute;
}
  }


</style>

<div class="homepage-wrapper">
  <!-- Sidebar outside content area -->
  <div id="sidebar" class="sidebar">
    <!-- Placeholder for sidebar -->
  </div>

  <!-- Content Area -->
  <section class="content-area">
    <!-- Top Navbar -->
    <section id="backButtonContainer"></section>
    <section id="top-navbar" class="top">
      <!-- Placeholder for topNavbar -->

    </section>

    <section id="main-content-container">

    </section>
  </section>
</div>