<style>
  .text-Container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #ClassName {
    font-size: 1.8rem;
  }

  select {
    height: 3rem;
    width: 13rem;
    text-align: center;

  }
</style>


<div class="mainContainer">
  <div class="text-Container">
    <h1 id="ClassName">Select Class</h1>
    <select name="" id="">
      <option value="" selected disabled>Select Class</option>
      <option value="12 CS A3">12 CS A3</option>
    </select>
  </div>

</div>