<style>
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    height: 4rem;
    width: 15rem;
    text-align: center;
    background-color: rgba(0, 122, 255, 0.15);
    font-size: 2rem;
    padding: 0 2rem;
    border-radius: 0.6rem;
  }

  button img {
    height: 2.5rem;
    width: auto;
  }

  button:hover {
    cursor: pointer;
  }

  .addNewTeachers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .hidden {
    display: none;
  }
</style>


<div class="addNewTeachers hidden" id="mainDiv">
  <button id="addNewTeachers"><img src="/public/assets/icons/plus.svg" alt="Plus Icon">Add</button>
</div>
<div class="tableContainer">


</div>