<style>
  h1 {
    color: rgba(130, 180, 255, 1);
    text-decoration: underline;
    font-size: 3rem;
  }

  #info {
    font-size: 2.8rem;
  }

  .mainContainer {
    padding: 2rem;
  }

  .inputGroup {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .inputGroup input {
    height: 4rem;
    width: 55%;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-size: 2rem;
  }

  .anchor {
    display: flex;
    font-size: 2.5rem;
    color: rgba(130, 180, 255, 1);
  }

  .anchor p {
    cursor: pointer;
  }

  .submitButton {
    display: flex;
    justify-content: center;
  }

  #changeButton {
    border-radius: 0.6rem;
    height: 4rem;
    width: 1 rem;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
  }

  .absoluteDiv {
    position: absolute;
    top: 50%;
    left: 40%;
    background-color: white;
    border-radius: 1.2rem;
  }
</style>


<div class="mainContainer">
  <div class="header">
    <h1>Change Password</h1>
  </div>
  <div class="infoText">
    <p id="info">Your password must be at least 6 characters and should including a
      combination of numbers,characters,special symbols(@#$!)</p>
  </div>
  <div class="inputGroup">
    <input type="text" id="userName" placeholder="Email" disabled>
    <input type="text" id="old-pass" placeholder="Enter the Current Password">
    <input type="text" id="new-pass" placeholder="Enter the new Password">
    <input type="text" id="re-new" placeholder="Retype the new Password">
  </div>
  <div class="submitButton">
    <button id="changeButton" disabled>Change Password</button>
  </div>
</div>