<style>
  .notesContainer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    overflow-y: scroll;
  }

  .design {
    height: 0rem;
    width: 80%;
    border: 0.2rem solid rgba(188, 188, 192, 1);
    /* margin-top: 3rem; */
    margin: 0 auto;

  }

  h1 {
    font-size: 2.3rem;
  }
</style>
<div class="mainContainer">
  <div class="notesData">
    <div class="dateContainer">
      <h1>Today</h1>
    </div>
    <!-- <div class="notesContainer"></div> -->
    <section class="notesContainer"></section>
    <div class="design"></div>
  </div>
</div>