<style>
  .mainContainer {
    padding: 2rem;
  }

  .header h1 {
    font-size: 2.5rem;
    color: rgba(130, 180, 255, 1);
    text-decoration: underline;
  }

  #info {
    font-size: 2.3rem;

  }

  .requestButton {
    display: flex;
    justify-content: center;
  }

  .requestButton button {
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: transparent;
  }

  #request {
    height: 4rem;
    width: 27rem;
    font-size: 2rem;
  }
</style>
<div class="mainContainer">

  <div class="header">
    <h1>Forgot Password</h1>
  </div>
  <div class="infoText">
    <p id="info">To change password , you need to sent a request </p>
  </div>

  <div class="requestButton">
    <button id="request">Request for new password</button>
  </div>
</div>