<style>
  #lgout {
    color: red;
    height: 1.5rem;
    width: 20rem;
    cursor: pointer;
  }

  #lgYes {
    background-color: red;
  }

  #lgNo {
    background-color: green;
  }

  .popupButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 0rem;
  }

  .popup {
    top: 0;
    left: 0;
    width: 70%;
    height: 60%;
    border-radius: 1.5rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 226, 255, 0.7);
    margin: 0 auto;

  }

  button {
    height: 4rem;
    border: none;
    cursor: pointer;
    width: 8rem;
    border-radius: 1rem;
  }

  button:focus {
    color: blue;
  }

  .popupText {
    font-size: 2rem;
    font-weight: 600;
  }

  .text {
    font-size: 2.5rem;
    font-weight: 700;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 7rem;
    text-decoration: underline;
  }
</style>

<div class="popup">
  <div class="text">Logout Confirmation</div>
  <div class="popupContainer">
    <div class="popupText">Are you Sure You want to Log Out?</div>
    <div class="popupButtons">
      <button id="lgYes">Yes</button>
      <button id="lgNo">No</button>
    </div>
  </div>
</div>