<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" /> -->


<body>
    <style>
        .SidebarContainer {
            height: 100vh;
            border-right: 0.1rem solid rgba(207, 226, 255, 1);
            width: 20rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background-color: #ffffff;
        }

        .imageContainer {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;

        }

        .imageContainer img {
            height: 10rem;
            width: 10rem;
        }

        .topWrapper,
        .bottomWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .bottomWrapper {
            margin-bottom: 2rem;
        }

        .wrappers {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .button {
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
            padding: 1rem;
            color: #333;
            background: none;
            border: none;
            text-align: left;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 0.5rem;
        }

        .button i {
            font-size: 2rem;
            margin-right: 3rem;
        }

        .button:hover {
            background-color: #e9ecef;
            color: #0056b3;
        }


        .button.active {
            background-color: #cfe2ff;
            border: 0.1rem solid blue;
            color: blue;
        }
    </style>
    <div class="SidebarContainer">
        <div class="imageContainer">
            <img src="../../../public/assets/amity-logo.svg" alt="Amity Logo">
        </div>
        <div class="wrappers">
            <div class="topWrapper">
                <button id="dashboard" class="button"><i class="bi bi-house"></i>Dashboard</button>
                <button id="timetable" class="button"> <i class="bi bi-watch"></i>Timetable</button>
                <button id="teachers" class="button"><i class="bi bi-person"></i>Teachers</button>
                <button id="classNotes" class="button"><i class="bi bi-book"></i>Class Notes</button>
                <button id="busDetails" class="button"><i class="bi bi-bus-front"></i>Bus Details</button>
                <button id="location" class="button"><i class="bi bi-geo-alt"></i>Location</button>
            </div>
            <div class="bottomWrapper">
                <button id="settings" class="button"><i class="bi bi-gear"></i>Settings</button>
                <button id="help" class="button"> <i class="bi bi-question-circle"></i>Help</button>
                <button id="logout" class="button"><i class="bi bi-box-arrow-left"></i>Logout</button>
            </div>
        </div>
    </div>

</body>