<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #mainHeader p,
  #mainHeader .line {
    margin: 0;
  }

  #Days {
    align-self: flex-start;
    font-size: 2rem;
  }

  #Periods {
    align-self: flex-end;
    font-size: 2rem;
  }

  .line {
    height: 10%;
    width: 100%;
    border: 0.3rem solid rgba(134, 182, 255, 1);
    transform: rotate(13.2deg);
  }

  .tableContainer {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.6rem;
    margin: 0 auto;
  }

  td,
  th {
    padding: 10px;
    text-align: center;
  }

  td {
    height: 50px;
    width: 150px;
  }

  th {
    background-color: #f2f6ff;
  }

  tr:nth-child(even) {
    background-color: #e3effd;
  }




  .periodsList p {
    margin: 0;
    justify-content: space-evenly;
  }

  .dataheader {
    font-weight: 600;
    font-size: 2rem;
  }


  .dataTime {
    font-weight: 300;
    font-size: 1.8rem;
  }

  .topHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: right;
  }

  .dataDays {
    font-size: 2rem;
  }


  #timetableEdit {
    font-size: 2rem;
    cursor: pointer;
    width: 9rem;
    height: 3.5rem;
    background-color: rgba(0, 122, 255, 0.15);
    border: 0.1rem solid rgba(50, 173, 230, 1);
    border-radius: 0.4rem;
    padding: 0 .3rem;
    position: relative;
  }

  #timetableEdit img {

    margin-right: .5rem;
    font-size: 3.5rem;

  }

  td {
    font-size: 1.5rem;
  }

  .classSelector select {
    height: 4rem;
    width: 13rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);

  }

  select:focus {
    border: none;
  }

  .hidden {
    visibility: hidden;
  }

  .editButtonPopup {
    height: 10rem;
    border: .1rem solid rgba(207, 226, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0%;
    right: 0;
    position: absolute;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;



  }

  .editButtonPopup a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    font-size: 2rem;
    color: black;
    padding: 1rem;
    text-align: center;
  }

  .editButtonPopup a:hover {
    background-color: rgba(187, 200, 221, 1);
  }

  .crossButton {
    display: flex;
    justify-content: flex-end;
    height: 3.5rem;

  }

  .crossButton img {
    height: 2.5rem;
    width: 2rem;
  }

  .crossButton img:hover {
    background-color: rgba(123, 134, 122, 0.263);
    cursor: pointer;
  }

  button {
    height: 4rem;
    border: none;
    cursor: pointer;
    width: 8rem;
    border-radius: 1rem;
  }

  #tableSave {
    background-color: rgba(34, 139, 34, 0.8);
  }

  #tableCancel {
    background-color: rgba(220, 20, 60, 0.8);
  }

  .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    padding: 2rem;
    height: 9rem;
    justify-content: flex-start;
  }

  .absoluteDiv {
    position: absolute;
    top: 50%;
    left: 40%;
  }
</style>
<div class="topHeader hidden" id="topHeader">
  <div class="classSelector">
    <select name="selectClass" id="selectClass">
      <option value="null">Select Class</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11-CS">11 CS</option>
      <option value="11-BS">11 BS</option>
      <option value="11-HM">11 HM</option>
      <option value="12-CS">12 CS</option>
      <option value="12-HM">12 HM</option>
      <option value="12-BS">12 BS</option>
    </select>

    <select name="" id="section" required>
      <option value="null">Select Section</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="A1">A1</option>
      <option value="A2">A2</option>
      <option value="A3">A3</option>
    </select>
  </div>
  <div class="editButton">
    <button id="timetableEdit"><img src="/public/assets/icons/pencil-square.svg" alt="Edit Icon">Edit</button>
    <div id="editButtonPopup" class="editButtonPopup hidden">
      <div class="crossButton">
        <img src="/public/assets/icons/x.svg" alt="Close Icon" id="cross-img">
      </div>
      <a href="#" id="existingData">Existing Details</a>
      <a href="#" id="newTimetable">Add new Timetable</a>
    </div>
  </div>
</div>
<div class="tableContainer">
  <table id="table">
    <tr>
      <th id="mainHeader">
        <p id="Periods">Periods</p>
        <div class="line"></div>
        <p id="Days">Days</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">First</p>
        <p class="dataTime">period</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">Second</p>
        <p class="dataTime">period</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">Third</p>
        <p class="dataTime">period</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">Fourth</p>
        <p class="dataTime">period</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">Fifth</p>
        <p class="dataTime">period</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">Sixth</p>
        <p class="dataTime">period</p>
      </th>
      <th class="periodsList">
        <p class="dataheader">Seventh</p>
        <p class="dataTime">period</p>
      </th>
    </tr>
    <tr id="Sunday">
      <!-- Data from the backend -->
      <td class="dataDays">Sunday</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
    </tr>
    <tr id="Monday">
      <!-- Data from the backend -->
      <td class="dataDays">Monday</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
    </tr>
    <tr id="Tuesday">
      <!-- Data from the backend -->
      <td class="dataDays">Tuesday</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
    </tr>
    <tr id="Wednesday">
      <td class="dataDays">Wednesday</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
    </tr>
    <tr id="Thursday">
      <td class="dataDays">Thursday</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
    </tr>
    <tr id="Friday">
      <td class="dataDays">Friday</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
      <td>Subject</td>
    </tr>
    <tr id="Saturday">
      <td class="dataDays">Saturday</td>
      <td>Off</td>
      <td>Off</td>
      <td>Off</td>
      <td>Off</td>
      <td>Off</td>
      <td>Off</td>
      <td>Off</td>

    </tr>
  </table>
  <div class=" tableActionsButtons hidden">
    <div class="buttonContainer">
      <button id="tableSave" class="button" disabled>Save</button>
      <button id="tableCancel" class="button">Cancel</button>
    </div>
  </div>
</div>