<style>
  #top-navbar {
    height: 10rem;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  #top-navbar h1 {
    margin-left: 0.7rem;
  }

  #left-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  #navHeader {
    font-size: 3.3rem;
  }

  .hidden {
    display: none;
  }
</style>

<header id="top-navbar">
  <div id="left-container">
    <h1 id="navHeader">Dashboard</h1>
  </div>

  <div id="right-container"></div>
</header>