<style>
  .upcomingEventsContainer {
    width: 40rem;
    border: 0.2rem solid rgba(50, 173, 230, 1);
    border-radius: 1rem;
    padding: 2rem;
  }

  .monthContainer h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .eventsDataContainer {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: baseline;
  }

  .dateContainer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
  }

  .eventsContainer {
    font-size: 1.5rem;
    flex: 1;
    color: #34495e;
    font-style: italic;
  }

  .header {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
  }
</style>

<div class="upcomingEventsContainer">
  <div class="header">Upcoming Events This Month</div>
  <div class="monthContainer">
    <h1>Baisakh</h1>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">1st:</div>
    <div class="eventsContainer">Pushup Competition</div>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">3rd:</div>
    <div class="eventsContainer">Creatine Eating Competition</div>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">8th:</div>
    <div class="eventsContainer">Marathon</div>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">13th:</div>
    <div class="eventsContainer">Water Drinking Competition</div>
  </div>

  <div class="monthContainer">
    <h1>Jestha</h1>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">1st:</div>
    <div class="eventsContainer">Pushup Competition</div>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">3rd:</div>
    <div class="eventsContainer">Creatine Eating Competition</div>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">8th:</div>
    <div class="eventsContainer">Marathon</div>
  </div>
  <div class="eventsDataContainer">
    <div class="dateContainer">13th:</div>
    <div class="eventsContainer">Water Drinking Competition</div>
  </div>
</div>